* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #DDD;
	overflow: hidden;
}

h1 {
	background-image: linear-gradient(bottom, rgb(72,106,153) 3%, rgb(138,156,173) 55%);
	background-image: -o-linear-gradient(bottom, rgb(72,106,153) 3%, rgb(138,156,173) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(72,106,153) 3%, rgb(138,156,173) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(72,106,153) 3%, rgb(138,156,173) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(72,106,153) 3%, rgb(138,156,173) 55%);
	margin: 0px;
	height: 45px;
	font-size: 22px;
	text-shadow: 0px -1px 1px #000;
	border-bottom: 1px solid black;
	color: white;
	padding: 8px 0px 0px 0px;
	text-align: center;
	font-family: "Helvetica";
}

.button a {
	-webkit-box-shadow: 0px -1px 1px #2f3740, 0px 1px 1px #bfcbdb;
	-moz-box-shadow: 0px -1px 1px #2f3740, 0px 1px 1px #bfcbdb;
	box-shadow: 0px -1px 1px #2f3740, 0px 1px 1px #bfcbdb;
	background-image: linear-gradient(bottom, rgb(72,106,153) 3%, rgb(138,156,173) 55%);
	background-image: -o-linear-gradient(bottom, rgb(72,106,153) 3%, rgb(138,156,173) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(72,106,153) 3%, rgb(138,156,173) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(72,106,153) 3%, rgb(138,156,173) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(72,106,153) 3%, rgb(138,156,173) 55%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: bold 12px Arial;
	text-align: center;
	line-height: 30px;
	width: 60px;
	color: white;
	text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-tap-highlight-color: white;
	-moz-tap-highlight-color: white;
	padding: 2px;
	margin-top: 4px;
	margin-left: 4px;
	float: left;
	position: relative;
	border: 1px solid #3e444c;
}

div {
	padding: 0;
}

ul li a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	font-family: "Helvetica";
	font-size: 16px;
	margin: 10px;
	padding: 0;
}

ul li {
	background-color: #F7F7F7;
	padding: 14px 10px;
	border-left: 1px solid #B2B4B8;
	border-right: 1px solid #B2B4B8;
	border-bottom: 1px solid #CBCBCB;
	border-top: 1px solid #FDFDFD;
	color: #385487;
}

ul li b {
	color: black;
}

ul li.value-one {
	text-align: right;
}

ul li.value-one b {
	float: left;
}

ul li:first-of-type {
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.075);
	border-top: 1px solid #B2B4B8;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

ul li:last-of-type {
	border-bottom: 1px solid #B2B4B8;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

ul li:only-of-type {
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.075), 0px 1px 0px rgba(255, 255, 255, 0.75);
}

ul p {
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	margin: 15px 10px 7px 10px;
	font-weight: bold;
	color: rgb(77,87,104);
}

#wrap {
	position: relative;
	top: 0;
	right: 0; /*horizontal transition fix for Firefox*/
	/* on prépare la transition à venir */
	-webkit-transition: all 1.2s cubic-bezier(.49,.22,.52,1);
	-moz-transition: all 1.2s cubic-bezier(.49,.22,.52,1);
	-ms-transition: all 1.2s cubic-bezier(.49,.22,.52,1);
	-o-transition: all 1.2s cubic-bezier(.49,.22,.52,1);
	transition: all 1.2s cubic-bezier(.49,.22,.52,1);
	width: 200%;
	height: 2400px; /*dim in px seems to be necessary ?*/
}

#slide1 {
	height: 50%;
	width: 50%;
	float: left;
}

#slide2 {
	height: 50%;
	width: 50%;
	float: left;
}

#slide3 {
	height: 50%;
	width: 50%;
	float: left;
}

#slide1, #slide2, #slide3 {
	/*CSS3 transitions*/ 
	-webkit-transition: all 1.2s cubic-bezier(.49, .22, .52, 1);
	-moz-transition: all 1.2s cubic-bezier(.49, .22, .52, 1);
	-ms-transition: all 1.2s cubic-bezier(.49, .22, .52, 1);
	-o-transition: all 1.2s cubic-bezier(.49, .22, .52, 1);
	transition: all 1.2s cubic-bezier(.49, .22, .52, 1);
}

#s2:target ~
#wrap {
	right: 100%;
}

#s3:target ~
#wrap {
	top: -1200px;
}

img {
	max-height: 95%;
	max-width: 95%;
	align="center";
}

ul li a {
	display: block;
	text-decoration: none;
}

#slide1 ul.clickable li:hover {
	background: #A8DDE0;
}